
<div class="post-list">
  {% for post in posts if not post.unlisted %}
  <a class="hidden-link" href="/{{ post.path }}">
    <div class="post">
      <div class="post-image">
    {% if post.image %}
        <img src="{{ url_for('static', filename=post.image) }}">
    {% endif %}
      </div>

      <div class="post-description">
        <h3><span class="post-title">{{ post.title }}</span></h3>

        {% if post.subtitle %}
          <h4><span class="post-subtitle">{{ post.subtitle }}</span></h4>
        {% endif %}

        <span class="post-date">{{ post.date.strftime("%B %d, %Y") }}</span>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
