<!DOCTYPE html>
<html>
  <head>
    <!--- TODO: remove dependence on googleapis, embed font manually -->
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/common.css">

    {% block head %}
    {% endblock %}
  </head>

  <body>
    <header>
      <h1><a href="/" style="text-decoration: none;">Stuart Ballantyne</a></h1>
    </header>

    <main>
      {% block main %}
      {% endblock %}
    </main>

    <footer>
    </footer>
  </body>
</html>
