<!DOCTYPE html>
<html>
  <head>
    <!--- TODO: remove dependence on googleapis, embed font manually -->
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">

    <link href="{{ url_for('static', filename='styles/common.css') }}" rel="stylesheet">
    <link href="{{ url_for('pygments_theme') }}" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>

    {% block head %}
    {% endblock %}
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Latest posts</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>

    <main>
      {% block main %}
      {% endblock %}
    </main>
  </body>
</html>
