{% extends "common.html" %}

{% block title %}
{% endblock %}

{% block head %}
  <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='styles/posts.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
  <span class="centred-text"><h1>Stuart Ballantyne's website</h1></span>

  <h2>Contact</h2>
  <a href="https://github.com/sb362">GitHub</a>

  {% if posts %}
  <hr>
  <h2>Recent posts</h2>

    {% include "_posts.html" %}
  {% endif %}
{% endblock %}
