{% extends "common.html" %}

{% block title %}
  Posts
{% endblock %}

{% block head %}
  <link href="{{ url_for('static', filename='styles/posts.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
  <h1>Recent posts</h1>

  <div class="post-list">
      {% if not posts %}
      <h2>Nothing here, yet.</h2>
      {% endif %}

      {% for post in posts if not post.unlisted %}
        {% if not loop.previtem or loop.previtem.date.strftime("%Y") != post.date.strftime("%Y") %}
      <h2>{{ post.date.strftime("%Y") }}</h2>
        {% endif %}

      <a class="hidden-link" href="/{{ post.path }}">
        <div class="post">
          <div class="thumbnail">
        {% if post.image %}
            <img src="{{ url_for('static', filename=post.image) }}">
        {% endif %}
          </div>

          <div class="description">
            <h3><span class="title">{{ post.title }}</span></h3>

            {% if post.subtitle %}
              <h4><span class="subtitle">{{ post.subtitle }}</span></h4>
            {% endif %}

            <span class="date">{{ post.date.strftime("%B %d, %Y") }}</span>
          </div>
        </div>
      </a>
      {% endfor %}
  </div>
{% endblock %}
