{% extends "common.html" %}

{% block title %}
  Posts
{% endblock %}

{% block main %}
  <table class="post-list">
      {% if not posts %}
      <h4>Nothing here, yet.</h4>
      {% endif %}

      {% for post in posts if not post.unlisted %}
        {% if not loop.previtem or loop.previtem.date.strftime("%Y") != post.date.strftime("%Y") %}
          {% if loop.previtem %}</ul>{% endif %}

      <h3>{{ post.date.strftime("%Y") }}</h3>
      <ul>
        {% endif %}

      <li><a class="hidden-link" href="/{{ post.path }}">{{ post.title }}</a></li>
      {% endfor %}

      {% if posts %}
      </ul>
      {% endif %}
  </table>
{% endblock %}
