{% extends "common.html" %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block main %}
  <div class="post">
    <div class="post-header">
      <h1>{{ post.title }}</h1>
      {% if post.subtitle %}
      <h2 style="font-weight: normal;">{{ post.subtitle }}</h2>
      {% endif %}
      <hr>

      {{ post.date.strftime("%B %d, %Y") }}
      <hr>
    </div>

    <article class="post">
      <section class="post-content">{{ post.html | safe }}</section>
    </article>

    <div class="post-footer">
    </div>
  </div>
{% endblock %}
