body {
	display: block;
	margin: 0 auto;
	max-width: 800px;
	width: 80%;
}

main {
	font-family: 'Merriweather', serif;
	font-size: medium;
}

nav {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: medium;

	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather Sans', sans-serif;
}

pre, code {
	font-family: "Fira Code", monospace;
}

a.hidden-link {
	text-decoration: none;
	color: inherit;
}

nav ul {
	list-style-type: none;

	padding: 0px;
}

nav li {
	display: inline;
}

nav a {
	text-decoration: none;
	color: inherit;

	padding: 8px;
}

.post-list {
	border-collapse: collapse;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
