#post header #title {
	font-size: larger;

	font-weight: bolder;
}

#post header #subtitle {
	font-size: smaller;

	font-weight: lighter;
}

#post footer #date {
	text-align: center;
}

#post footer #prev-post {
	float: left;
}

#post footer #next-post {
	float: right;
}

#post footer .post-reference
{
	font-family: 'Merriweather Sans', sans-serif;
}
