#post #content a {
	text-decoration: none;
} 

#post header #title {
	font-size: 1.5em;

	font-weight: bolder;
}

#post header #subtitle {
	font-size: smaller;

	font-weight: lighter;
}

#post header #date {
	text-align: center;
}

#post footer #other-posts {
	font-family: 'Merriweather Sans', sans-serif;
}

#post footer #prev-post {
	float: left;
}

#post footer #next-post {
	float: right;
}

#post footer .post-reference {
	font-family: 'Merriweather Sans', sans-serif;
}

#post footer #view-all {
	text-align: center;
}

#post blockquote {
	border-left: 0.25rem solid #e5e5e5;
	color: #979797;
	margin: .8rem 0;
	padding: 0rem 1rem 0rem 1rem;
}
